.img-container {
  position: relative;
  width: 500px;
  height: 700px;
}
.appt-img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 50%;
  width: 150%;
}

h1 {
  word-spacing: 3px;
  letter-spacing: 2px;
}

p {
  font-size: 22px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.success {
  color: #248f24;
}
