.profile-input {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
}

.profile-input-radio {
  font-size: 18px;
}

.profile-input-radio li {
  padding-right: 30px;
}

input[type="radio"] {
  margin-right: 5px;
}

.buttonHolder {
  text-align: center;
}
